{%- liquid
    assign NS = 'cart-sidebar'
    assign cn = '#' | append: NS     
-%}

<div class="{{ cn }} shadow-3">
    {%- for block in section.blocks -%}
        <div class="{{ cn }}-block" {{ block.shopify_attributes }}>
            {%- case block.type -%}
                {%- when 'subtotal' -%}
                    <div data-cart-subtotal-block>
                        {% render 'cart-subtotal' %}
                    </div>
                {%- when 'tax_note' -%}
                    <div class="{{ cn }}-tax-note">
                        {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                            {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                        {%- elsif cart.taxes_included -%}
                            {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                        {%- elsif shop.shipping_policy.body != blank -%}
                            {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                        {%- else -%}
                            {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                        {%- endif -%}
                    </div>
                {%- when 'order_notes' -%}
                    <details class="{{ cn }}-order-notes" {% if block.settings.default_state == 'opened' %}open{% endif %}>
                        <summary class="{{ cn }}-order-notes-header">
                            <span class="{{ cn }}-order-notes-header-title">
                                {{ 'sections.cart.note' | t }}
                            </span>
                        </summary>
                        <div class="{{ cn }}-order-notes-body">
                            <textarea class="{{ cn }}-order-notes-input" form="{{ form_id }}" name="note" id="CartOrderNote" cols="30" rows="6"></textarea>
                        </div>
                    </details>
                {%- when 'checkout' -%}
                    <div class="{{ cn }}-checkout">
                        {% render 'button',
                            t_text: 'sections.cart.checkout',
                            size: 'h3',
                            shadow: true,
                            block: true,
                            name: 'checkout',
                            type: 'submit',
                            form: form_id,
                            display_style: 'gradient'
                        %}
                        {%- if block.settings.show_payment_methods -%}
                            <div class="{{ cn }}-checkout-payment-methods">
                                {%- for type in shop.enabled_payment_types -%}
                                    {{ type | payment_type_svg_tag }}
                                {%- endfor -%}
                            </div>
                        {%- endif -%}
                    </div>
                {%- when 'accelerated_checkout' -%}
                    {% if additional_checkout_buttons %}
                        <cart-dynamic-checkout>
                            {{ content_for_additional_checkout_buttons }}
                        </cart-dynamic-checkout>
                        <script type="module" src="{{ 'cart-dynamic-checkout.js' | asset_url }}"></script>
                    {% endif %}
                {%- when 'free_shipping' -%}
                    <div data-cart-free-shipping-block data-dynamic="free-shipping">
                        {% render 'free-shipping-progress-bar' %}
                    </div>

            {%- endcase -%}
        </div>    
    {%- endfor -%}
</div>