{%- liquid
    assign NS = 'cart-item'
    assign cn = '#' | append: NS
    assign change_url = routes.cart_change_url
    assign add_item = item.quantity | plus: 1
    assign subtract_item = item.quantity | minus: 1

    assign max_qty = false
    assign track_qty = true
    if item.variant.inventory_management == nil or item.variant.inventory_policy == 'continue'
        assign track_qty = false
    endif

    if track_qty
        assign variant_cart_qty =  cart | item_count_for_variant: item.variant_id
        if variant_cart_qty == item.variant.inventory_quantity
            assign max_qty = true
        endif
    endif
-%}

<div class="{{ cn }}" data-cart-item>
    <div class="{{ cn }}-spinner">
        {% render 'spinner', size: 'sm' %}
    </div>
    <div class="{{ cn }}-product">
        <a class="stretched-link" href="{{ item.variant.url }}"></a>
        <div class="{{ cn }}-product-media">
            {% render 'media',
                image: item.image,
                border_radius: 'base',
                image_res: 100, 
                shadow: 1
            %}
        </div>
        <div class="{{ cn }}-product-info">
            <h5 class="{{ cn }}-product-info-title">{{ item.product.title }}</h5>
            {%- if item.product.has_only_default_variant == false or item.properties.size != 0 -%}
                <dl class="{{ cn }}-product-info-options">
                    {%- unless item.product.has_only_default_variant -%}
                        {%- for option in item.options_with_values -%}
                            <div class="{{ cn }}-product-info-option">
                                <dt class="{{ cn }}-product-info-option-name">{{ option.name }}:</dt>
                                <dd class="{{ cn }}-product-info-option-value">{{ option.value }}</dd>
                            </div>
                        {%- endfor -%}
                    {%- endunless -%}
                    {%- for property in item.properties -%}
                        {% assign property_first_char = property.first | slice: 0  %}
                        {%- if property.last != blank and property_first_char != '_' -%}
                            <div class="{{ cn }}-product-info-option">
                                <dt class="{{ cn }}-product-info-option-name">{{ property.first }}:</dt>
                                <dd class="{{ cn }}-product-info-option-value">
                                    {%- if property.last contains '/uploads/'  -%}
                                        <a class="unstyled-link" target="_blank" href="{{ property.last }}">
                                            {{ property.last | split: '/' | last }}
                                        </a>
                                    {%- else  -%}
                                        {{ property.last }}
                                    {%- endif -%}
                                </dd>
                            </div>
                        {%- endif -%}
                    {%- endfor -%}
                </dl>
            {%- endif -%}
            {% if item.line_level_discount_allocations.size > 0 %}
            <ul class="{{ cn }}-product-info-discounts">
                {% for discount in item.line_level_discount_allocations %}
                    <li class="{{ cn }}-product-info-discounts-item">{% render 'icon', name: 'tag' %} {{ discount.discount_application.title }}</li>
                {% endfor %}
            </ul>
        {% endif %}
            {%- if item.selling_plan_allocation != nil -%}
                <p class="{{ cn }}-product-info-selling-plan">{{ item.selling_plan_allocation.selling_plan.name }}</p>
            {%- endif -%}
            {%- if max_qty == false and track_qty == true -%}
                {%- if item.variant.inventory_quantity <= settings.stock_threshold -%}
                    {%- assign stock_alert_message = 'products.product.stock_alert.low_stock_msg' | t: value: item.variant.inventory_quantity -%}
                    <p class="{{ cn }}-product-info-stock-alert">{{ stock_alert_message }}</p>
                {%- endif -%}
            {%- endif -%}
        </div>
    </div>
    <div class="{{ cn }}-side">
    <div class="{{ cn }}-quantity">
        <div class="{{ cn }}-quantity-controls shadow-1">
            <cart-qty-button
                class="{{ cn }}-quantity-controls-item"
                variant-id="{{ item.variant.id }}"
                key="{{ item.key }}"
                section-id="{{ section.id }}"
                set-value="{{ subtract_item }}"
                line="{{ item.index | plus: 1 }}"
                selling-plan-id="{{ item.selling_plan_allocation.selling_plan.id }}"
            >
                <a 
                    class="{{ cn }}-quantity-controls-button reset-link"
                    href="{{ change_url }}?id={{ item.key }}}&quantity={{ subtract_item }}"
                    rel="{{ item.id }}"
                >{% render 'icon', name: 'minus' %}</a>
            </cart-qty-button>
            <cart-qty-input
                class="{{ cn }}-quantity-controls-item"
                variant-id="{{ item.variant.id }}"
                key="{{ item.key }}"
                section-id="{{ section.id }}"
                line="{{ item.index | plus: 1 }}"
                selling-plan-id="{{ item.selling_plan_allocation.selling_plan.id }}"
            >
                <input
                    class="{{ cn }}-quantity-controls-input"
                    type="number"
                    name="updates[]"
                    value="{{ item.quantity | escape }}"
                    min="0"
                    {% if track_qty %}
                        max="{{ item.variant.inventory_quantity }}" 
                    {% endif %} 
                    step="1"
                    aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                    id="Quantity-{{ item.key }}"
                >
            </cart-qty-input>
            {%- if max_qty -%}
                <button class="{{ cn }}-quantity-controls-item" disabled>
                    <a 
                        class="{{ cn }}-quantity-controls-button reset-link"
                    >{% render 'icon', name: 'plus' %}</a>
                </button>
            {%- else -%}
                <cart-qty-button
                    class="{{ cn }}-quantity-controls-item"
                    variant-id="{{ item.variant.id }}"
                    key="{{ item.key }}"
                    section-id="{{ section.id }}"
                    set-value="{{ add_item }}"
                    line="{{ item.index | plus: 1 }}"
                    selling-plan-id="{{ item.selling_plan_allocation.selling_plan.id }}"
                    {% if max_qty %}disabled{% endif %}
                >
                    <a 
                        class="{{ cn }}-quantity-controls-button reset-link"
                        href="{{ change_url }}?id={{ item.key }}&quantity={{ add_item }}"
                        rel="{{ item.id }}"
                    >{% render 'icon', name: 'plus' %}</a>
                </cart-qty-button>
            {%- endif -%}

        </div>
        {%- if max_qty -%}
            <div class="{{ cn }}-quantity-max-note">
                {% render 'icon', name: 'exclamation' %}
                <span>{{ 'general.cart.qty_max_note' | t }}</span>
            </div>
        {%- endif -%}
    </div>
    <div class="{{ cn }}-subtotal">
        <div class="{{ cn }}-subtotal-price">
            <div class="{{ cn }}-subtotal-value">
                {{ item.final_line_price | money }}
            </div>
            {%- if item.original_price != item.final_price -%}
                <div class="{{ cn }}-subtotal-original-value">
                    {{ item.original_line_price | money }}
                </div>
            {%- endif -%}
        </div>
        {% render 'unit-price', variant: item.variant %}
    </div>
    {%- unless hide_remove -%}        
        <div class="{{ cn }}-remove">
            <cart-qty-button
                variant-id="{{ item.variant.id }}"
                key="{{ item.key }}"
                line="{{ item.index | plus: 1 }}"
                selling-plan-id="{{ item.selling_plan_allocation.selling_plan.id }}"
                section-id="{{ section.id }}"
                set-value="0"
            >    
                <a class="{{ cn }}-remove-button reset-link" href="{{ change_url }}?id={{ item.key }}&quantity=0" rel="{{ item.id }}">
                    {% render 'icon', name: 'x' %}
                </a>
            </cart-qty-button>
        </div>
    {%- endunless -%}
    </div>
</div>