{%- liquid
    comment
        Props:
            - media_width: number
            - media: HTML
            - text: HTML
            - media_position: string: left | right
    endcomment

    assign NS = 'media-with-text'
    assign cn = '#' | append: NS
    
    assign gt_media = media_width | default: 50 | append: '%'
    assign gt_text = 'minmax(0, 1fr)'

    if media_position == 'left'
        assign grid_template = gt_media | append: ' ' | append: gt_text
    else
        assign grid_template = gt_text | append: ' ' | append: gt_media 
    endif

    if section.settings.bg_color == blank or section.settings.bg_color == "rgba(0,0,0,0)"
        assign no_background = true
    endif
-%}

{% render 'load-css', file: NS %}

{%- capture Media -%}
    <div class="{{ cn }}-media {% if media_position == 'right' %} mob-first-item {% endif %}">
        {{ media }}
    </div>
{%- endcapture -%}

{%- capture Text -%}
    <div class="{{ cn }}-text">
        {{ text }}
    </div>
{%- endcapture -%}

<div class="{{ cn }} {% if no_background %}@no-background{% endif %}">
    <div class="#grid @type:template" style="--template: {{ grid_template }}; --template-mobile: none; --gap: 0;">
        {%- if media_position == 'left' -%}
            {{ Media }}
            {{ Text }}
        {%- else -%}
            {{ Text }}
            {{ Media }}
        {%- endif -%}
    </div>
</div>