{%- liquid
    comment
        Props:
            - menu
            - prefix 
    endcomment
    assign NS = 'mini-nav'
    assign cn = '#' | append: NS
    assign prefix = prefix | default: 'miniNav'
    assign lvl1 = ''    
-%}


{%- capture lvl1 -%}
    <span class="{{ cn }}-nav-link @dir:backward" data-to-lvl="0">
        {% render 'icon', name: 'arrow-left' %}
        {{ title }}
    </span>
{%- endcapture -%}

<{{ NS }} class="{{ cn }}">
    <div class="{{ cn }}-stage" data-stage data-lvl="0">
        <div class="{{ cn }}-lvl">
            <div class="{{ cn }}-nsmbase">
                <div class="{{ cn }}-nav-header">
                    <h5 class="{{ cn }}-nav-title">{{ title }}</h5>
                </div>
                {%- for link in menu.links -%}
                    {%- if link.levels > 0 -%}
                        {%- assign lvl1_id = prefix | append: '-lvl1-' | append: forloop.index -%}
                        <label class="{{ cn }}-nav-link @dir:forward" for="{{ lvl1_id }}" data-to-lvl="1">
                            <span class="{{ cn }}-nav-item">
                                {%- if thumbnails == true and link.type == 'collection_link' -%}
                                    {%- assign collection_thumbnail = link.object.products[0].featured_image -%}
                                    {% render 'media',
                                        image: collection_thumbnail,
                                        image_res: 50,
                                        border_radius: 'sm'
                                    %}
                                {%- endif -%}
                                {{ link.title }}
                            </span>
                            {% render 'icon', name: 'angle-right' %}
                        </label>
                        {%- capture lvl1 -%}
                            {{ lvl1 }}
                            <input class="{{ cn }}-nav-check" type="radio" id="{{ lvl1_id }}" name="{{ prefix }}-lvl1">
                            <div class="{{ cn }}-nav">
                                <div class="{{ cn }}-nav-header">
                                    <a class="stretched-link" href="{{ link.url }}"></a>
                                    <h5 class="{{ cn }}-nav-title">{{ link.title }}</h5>
                                    <span class="{{ cn }}-nav-subtitle">{{ 'sections.featured_collection.view_all' | t }}</span>
                                </div>
                                    {%- for lvl1_link in link.links -%}
                                    {%- if lvl1_link.levels > 0 -%}
                                        {%- assign lvl2_id = prefix | append: '-lvl2-' | append: forloop.index | append: forloop.parentloop.index -%}
                                        <label class="{{ cn }}-nav-link @dir:forward" for="{{ lvl2_id }}" data-to-lvl="2">
                                            <span class="{{ cn }}-nav-item">
                                                {%- if thumbnails == true and lvl1_link.type == 'collection_link' -%}
                                                    {%- assign collection_thumbnail = lvl1_link.object.products[0].featured_image -%}
                                                    {% render 'media',
                                                        image: collection_thumbnail,
                                                        image_res: 50,
                                                        border_radius: 'sm'
                                                    %}
                                                {%- endif -%}
                                                {{ lvl1_link.title }}
                                            </span>
                                            {% render 'icon', name: 'angle-right' %}
                                        </label>
                                        {%- capture lvl2 -%}
                                            {{ lvl2 }}
                                            <input class="{{ cn }}-nav-check" type="radio" id="{{ lvl2_id }}" name="{{ prefix }}-lvl2">
                                            <div class="{{ cn }}-nav">
                                                <a class="{{ cn }}-nav-link @dir:backward" href="#" data-to-lvl="1">
                                                    {% render 'icon', name: 'arrow-left' %}
                                                    {{ link.title }}
                                                </a>
                                                <div class="{{ cn }}-nav-header">
                                                    <a class="stretched-link" href="{{ lvl1_link.url }}"></a>
                                                    <h5 class="{{ cn }}-nav-title">{{ lvl1_link.title }}</h5>
                                                    <span class="{{ cn }}-nav-subtitle">{{ 'sections.featured_collection.view_all' | t }}</span>
                                                </div>
                                                {%- for lvl2_link in lvl1_link.links -%}
                                                    {%- if thumbnails == true and lvl2_link.type == 'collection_link' -%}
                                                        {%- assign collection_thumbnail = lvl2_link.object.products[0].featured_image -%}
                                                            <div class="{{ cn }}-nav-item">
                                                                <a class="stretched-link" href="{{ lvl2_link.url }}"></a>
                                                                {% render 'media',
                                                                    image: collection_thumbnail,
                                                                    image_res: 50,
                                                                    border_radius: 'sm'
                                                                %}
                                                                <span class="{{ cn }}-nav-link">{{ lvl2_link.title }}</span>
                                                            </div>
                                                    {%- else -%}
                                                        <a class="{{ cn }}-nav-link" href="{{ lvl2_link.url }}">{{ lvl2_link.title }}</a>
                                                    {%- endif -%}
                                                {%- endfor -%}
                                            </div>
                                        {%- endcapture -%}
                                    {%- else -%}
                                        {%- if thumbnails and lvl1_link.type == 'collection_link' -%}
                                            {%- assign collection_thumbnail = lvl1_link.object.products[0].featured_image -%}
                                                <div class="{{ cn }}-nav-item">
                                                    <a class="stretched-link" href="{{ lvl1_link.url }}"></a>
                                                    {% render 'media',
                                                        image: collection_thumbnail,
                                                        image_res: 50,
                                                        border_radius: 'sm'
                                                    %}
                                                    <span class="{{ cn }}-nav-link">{{ lvl1_link.title }}</span>
                                                </div>
                                        {%- else -%}
                                            <a class="{{ cn }}-nav-link" href="{{ lvl1_link.url }}">{{ lvl1_link.title }}</a>
                                        {%- endif -%}
                                    {%- endif -%}
                                {%- endfor -%}
                            </div>
                        {%- endcapture -%}
                    {%- else -%}
                        {%- if thumbnails == true and link.type == 'collection_link' -%}
                            {%- assign collection_thumbnail = link.object.products[0].featured_image -%}
                                <div class="{{ cn }}-nav-item">
                                    <a class="stretched-link" href="{{ link.url }}"></a>
                                    {% render 'media',
                                        image: collection_thumbnail,
                                        image_res: 50,
                                        border_radius: 'sm'
                                    %}
                                    <span class="{{ cn }}-nav-link">{{ link.title }}</span>
                                </div>
                        {%- else -%}
                            <a class="{{ cn }}-nav-link" href="{{ link.url }}">{{ link.title }}</a>
                        {%- endif -%}
                    {%- endif -%}
                {%- endfor -%}
            </div>
        </div>
        <div class="{{ cn }}-lvl">
            {{ lvl1 }}
        </div>
        <div class="{{ cn }}-lvl">
            {{ lvl2 }}
        </div>
    </div>
</{{ NS }}>

<script type="module" src="{{ NS | append: '.js' | asset_url }}"></script>