{%- assign NS = 'product-options-swatch' -%}
{%- assign cn = '#' | append: NS -%}

{% render 'load-css', file: NS %}

<div class="{{ cn }}">
    {%- for value in option.values -%}
        {%- assign input_id = option.name | handleize | append: value | escape | handleize | append: section.id -%}
        <label class="{{ cn }}-item" for="{{ input_id }}">
            <input 
                id="{{ input_id }}"
                type="radio"
                class="{{ cn }}-item-input {% if src == 'buttons' %}visually-hidden{% endif %}"
                {% unless src == 'buttons' %}hidden{% endunless %}
                data-option-value
                data-option-index="{{ option.position | minus: 1 }}"
                name="{{ option.name }}"
                value="{{ value | escape }}"
                {% if option.selected_value == value %}checked{% endif %}
            >
                <div class="{{ cn }}-item-body" style="{%- render 'swatch-color-style', value: value -%}"></div>
        </label>
    {%- endfor -%}
</div>

