{% comment %}
    Renders a list of product's options

    Accepts:
    - show_sku: {Boolean} 
    - show_save_price: {Boolean}
    - product: {Object}
    - id: {String} - block.id 
{% endcomment %}

{%- liquid 
    assign NS = 'product-options-list'
    assign cn = '#' | append: NS
    assign stock_only_id = section.id | append: id | append: '-stock-only'
    assign modal_id = section.id | append: id | append: product.id | append: '-modal'
    assign use_variant_image = product.variants | where: 'featured_image' | first
-%}

{% render 'load-css', file: NS, lazy: true %}


{% capture Modal %}
    <{{ NS }} section-id="{{ section.id }}" {% if enable_sorting %}enable-sort{% endif %} {% if enable_stock_sort %}enable-stock-sort{% endif %}>
        <div class="{{ cn }}-header">
            <div class="{{ cn }}-header-inner">
                {%- if popup_content -%}
                    {{ popup_content }}
                {%- else -%}
                    <h2 class="{{ cn }}-product-title heading-font">{{ product.title }}</h2>
                {%- endif -%}
                <modal-close class="{{ cn }}-modal-close">{% render 'icon', name: 'x' %}</modal-close>
            </div>
            {%- if popup_content -%}
                <h2 class="{{ cn }}-product-title heading-font">{{ product.title }}</h2>
            {%- endif -%}
            {%- if enable_stock_sort -%}
                <div class="{{ cn }}-stock-toggle">
                    <label class="{{ cn }}-stock-toggle-label" for="{{ stock_only_id }}">
                        <input class="{{ cn }}-stock-toggle-input" type="checkbox" id="{{ stock_only_id }}" name="stock-only" data-stock-only>    
                        {{ 'products.product_options.only_in_stock' | t }}
                    </label>
                </div>
            {%- endif -%}
        </div>
        {%- comment -%}
            <div>
                {%- render 'media',
                    image: product.featured_image,
                -%}
                <h2>{{ product.title }}</h2>
            </div>
        {%- endcomment -%}
        

        <div class="{{ cn }}-table-wrapper">
            <table class="{{ cn }}-table" data-table>
                <thead data-table-head>
                    <tr data-table-head-tr>
                        {%- if use_variant_image -%}
                            <th scope="col"></th>
                        {%- endif -%}

                        {%- if show_sku -%}
                            <th class="{{ cn }}-table-heading {% if enable_sorting %}@sorting{% endif %}" data-col-name="sku" scope="col">
                                <div class="{{ cn }}-table-heading-inner">
                                    {{ 'products.product_options.sku' | t }}
                                    <div class="{{ cn }}-sort-caret">
                                        {% render 'icon', name: 'angle-down' %}
                                    </div>
                                </div>
                            </th>
                        {%- endif -%}

                        {% for option in product.options_with_values %}
                            <th class="{{ cn }}-table-heading {% if enable_sorting %}@sorting{% endif %}" data-col-name="option{{ option.position }}" scope="col">
                                <div class="{{ cn }}-table-heading-inner">
                                    {{ option.name }}
                                    <div class="{{ cn }}-sort-caret">
                                        {% render 'icon', name: 'angle-down' %}
                                    </div>    
                                </div> 
                                
                            </th>
                        {% endfor %}

                        <th class="{{ cn }}-table-heading {% if enable_sorting %}@sorting{% endif %}" data-col-name="price" scope="col" data-price-col>
                            <div class="{{ cn }}-table-heading-inner">
                                {{ 'sections.cart.headings.price' | t }}
    
                                <div class="{{ cn }}-sort-caret">
                                    {% render 'icon', name: 'angle-down' %}
                                </div>
                            </div>
                        </th>

                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody data-table-body>
                    {% for variant in product.variants %}
                        <tr class="{{ cn }}-product {% if variant.available %}@available{% endif %}" data-variant-id="{{ variant.id }}" data-variant-available="{{ variant.available }}">
                            {%- if use_variant_image -%}
                                <td>
                                    {%- if variant.featured_image != blank -%}
                                        <div class="{{ cn }}-product-media">
                                            {%- render 'media',
                                                image: variant.featured_image,
                                                image_res: 150,
                                                border_radius: 'inner',
                                                aspect_ratio: '1x1'
                                            -%}
                                        </div>
                                    {%- endif -%}
                                </td>
                            {%- endif -%}

                            {%- if show_sku -%}
                                <td>{{ variant.sku }}</td>
                            {%- endif -%}

                            {% for option in variant.options %}
                                <td>{{ option }}</td>
                            {% endfor %}

                            <td>
                                <div class="{{ cn }}-product-price">
                                    {% render 'price',
                                        variant: variant,
                                        show_save_price: show_save_price,
                                        show_titles: show_save_price
                                    %}
                                </div>
                            </td>
                            <td class="{{ cn }}-action-column">
                                {%- if variant.available or variant.inventory_quantity != 0 -%} 
                                
                                        {%- capture Button -%}
                                            {% render 'button',
                                                shadow: true,
                                                atts: 'data-to-cart',
                                                size: 'h5',
                                                t_text: 'products.product.add_to_cart',
                                                loading: true,
                                                display_style: 'gradient'
                                            %}
                                        {%- endcapture -%}

                                        {% render 'product-to-cart', 
                                            trigger: Button, 
                                            variant: variant
                                        %}

                                {%- else -%}
                                    <div class="{{ cn }}-product-sold-out">
                                        {{ 'products.product.sold_out' | t }}
                                    </div>
                                {%- endif -%}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script type="application/json" data-product-json>
            {{ product.variants | json }}
        </script>
    </{{ NS }}>
{% endcapture %}

<template id="{{ modal_id }}">
    {% render 'load-css', file: NS, lazy: true %}
    <div class="{{ cn }}-modal">
        {{ Modal }}
    </div>
</template>


<modal-trigger
    target="#{{ modal_id }}"
    class="{{ cn }}-modal-link styled-link"
    animation="slideRight"
    position="center-right"
    height="100%"
>{% render 'icon', name: 'bars' %} {{'products.product_options.view_all_options' | t }}</modal-trigger>

{%- if enable_sorting or enable_stock_sort -%}
    <script type="module" src="{{ NS | append: '.js' | asset_url }}"></script>
{%- endif -%}
