{% comment %}
    Props:
        - heading
        - t_heading
        - subheading
        - t_subheading
        - text_size
        - button_label
        - button_t_label
        - button_link
        - icon
        - icon_size
        - icon_x_offset
        - icon_y_offset
        - icon_color
{% endcomment %}

{%- liquid
    assign NS = 'splash-msg'
    assign cn = '#' | append: NS
    if t_heading != blank
        assign heading = t_heading | t
    endif
    if t_subheading != blank
        assign subheading = t_subheading | t
    endif
    if button_t_label != blank
        assign button_label = button_t_label | t
    endif
    assign icon_color = icon_color | default: 'accent'    
-%}

{% render 'load-css', file: NS %}

<div
    class="{{ cn }} @icon-color:{{ icon_color }}"
    style="
        {% if icon_size != blank %}--icon-size: {{ icon_size }};{% endif %}
        {% if icon_x_offset != blank %}--icon-x-offset: {{ icon_x_offset }};{% endif %}
        {% if icon_y_offset != blank %}--icon-y-offset: {{ icon_y_offset }};{% endif %}
    "
>
    {%- if icon != blank -%}
        <div class="{{ cn }}-icon">
            {% render 'icon', name: icon %}
        </div>
        {% render 'hero',
            heading: heading,
            text: subheading,
            f_button_label: button_label,
            f_button_link: button_link,
            f_button_shadow: true,
            align: 'center',
            gap: '1rem',
            size: text_size
        %}
        {%- if footer != blank -%}
            <div class="{{ cn }}-footer">
                {{ footer }}
            </div>
        {%- endif -%}
    {%- endif -%}
</div>