<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="theme-color" content="">
        <link rel="canonical" href="{{ canonical_url }}">
        <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

        {%- if settings.favicon != blank -%}
            <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
        {%- endif -%}

        {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
            <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
        {%- endunless -%}

        <title>
            {{ page_title }}
            {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
            {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
            {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
        </title>

        {% if page_description %}
            <meta name="description" content="{{ page_description | escape }}">
        {% endif %}

        {% render '_meta-tags' %}

        {{ content_for_header }}

        {% render '_css-vars' %}
        {% style %}
            :root {
                --password-header-height: 0px;
                --password-footer-height: 0px;
            }
        {% endstyle %}


        {%- unless settings.type_body_font.system? -%}
            <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
        {%- endunless -%}
        {%- unless settings.type_header_font.system? -%}
            <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
        {%- endunless -%}

        <script>
            document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
            if (Shopify.designMode) {
                document.documentElement.classList.add('shopify-design-mode');
            }
            function lazyImageOnLoad(img) {
                img.setAttribute('loaded', '');
            }
        </script>

        {{ 'core.css' | asset_url | stylesheet_tag }}
        
    </head>

    <body>
        <div class="#container" data-main-container></div>
        {% render '_js-vars' %}
        {% render 'load-css', file: 'spinner', lazy: true %}
        {% render 'icons-sprite' %}
        
        <!-- 
        <a href="#MainContent">
            {{ 'accessibility.skip_to_text' | t }}
        </a> -->

        {% section 'g_password-header' %}

        <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
            {{ content_for_layout }}
        </main>
        
        {% section 'g_password-footer' %}
        
        {% render 'posted-popup' %}
        {% render 'modal-popup' %}
        {% render 'page-spinner' %}
        {% render 'toast-notification' %}

        <script type="module" src="{{ 'dynamic-icon.js' | asset_url }}"></script>
    </body>
</html>
