{%- liquid
    if section.settings.section_layout == 'full'
        assign use_offset = true
    endif

    assign products_mobile_gap = products_gap | divided_by: 1.5 | ceil
-%}

{%- if section.settings.section_layout == 'full' -%}
    {%- capture image_srcsize_desktop -%}100vw/{{ section.settings.items_per_view }}{%- endcapture -%}
    {%- capture image_srcsize_mobile -%}100vw/1.5{%- endcapture -%}
{%- endif -%}

{%- if section.settings.section_layout == 'container' -%}
    {%- capture image_srcsize_desktop -%}(min(100vw, {{ settings.container_width }}px) - min(3rem, 5vw))/{{ section.settings.items_per_view }}{%- endcapture -%}
    {%- capture image_srcsize_mobile -%}90vw/1.5{%- endcapture -%}
{%- endif -%}

{% render 'load-css', file: 'product-card' %}

{%- capture Slides -%}
    {%- for block in section.blocks -%}
        {%- case block.type -%}
            {%- when 'products' -%}
                {%- if section.settings.collection != blank -%}
                    {%- assign products_collection = section.settings.collection.products -%}
                    {%- if block.settings.show_only_products_in_stock -%}
                        {%- assign products_collection = products_collection | where: 'available' -%}
                    {%- endif -%}
                    {%- assign slides_count = products_collection | size | at_most: block.settings.products_limit -%}
                        {%- for product in products_collection limit: block.settings.products_limit -%}
                            <div class="swiper-slide" {{ block.shopify_attributes }}>
                                {% render 'product-card',
                                product: product,
                                image_srcsize_desktop: image_srcsize_desktop,
                                image_srcsize_mobile: image_srcsize_mobile
                                %}
                            </div>
                        {%- endfor -%}
                {%- else -%}
                    {%- assign slides_count = block.settings.products_limit -%}
                    {%- for product in (1..slides_count) -%}
                        {%- capture placeholder_index -%}{%- cycle 1, 2, 3, 4, 5, 6 -%}{%- endcapture -%}
                        <div class="swiper-slide" {{ block.shopify_attributes }}>
                            {% render 'product-card',
                                product: false,
                                placeholder_index: placeholder_index
                            %}
                        </div>
                    {%- endfor -%}
                {%- endif -%}
                
            {%- when 'banner' -%}
                {%- assign slides_count = slides_count | plus: 1 -%}
                <div class="swiper-slide" {{ block.shopify_attributes }}>
                    {% render 'load-css', file: 'gallery-card' %}
                    {% render 'gallery-card',
                        image: block.settings.image,
                        overlay: block.settings.image_overlay,
                        full_height: true,
                        heading: block.settings.heading,
                        subheading: block.settings.subheading,
                        link: section.settings.collection.url,
                        caption_x: 'center',
                        caption_y: 'center',
                        subheading_position: block.settings.subheading_position,
                        frame: block.settings.show_image_frame,
                        image_srcsize_desktop: image_srcsize_desktop,
                        image_srcsize_mobile: image_srcsize_mobile
                    %}
                </div>
        {%- endcase -%}
    {%- endfor -%}
{%- endcapture -%}

{%- capture Content -%}
    {%- if section.settings.collection.all_products_count == 0 -%}
        {%- if request.design_mode -%}
            {% render 'editor-notification',
                t_heading: 'general.editor.empty_collection_message'
            %}
        {%- endif -%}
    {%- else -%}
        {% render 'slideshow-inline',
            slides: Slides,
            slides_count: slides_count,
            slides_per_view: section.settings.items_per_view,
            offset: use_offset,
            loop: section.settings.enable_loop,
            pagination: section.settings.enable_pagination
        %}
    {%- endif -%}            
{%- endcapture -%}

{% render 'section-body',
    content: Content,
    heading: section.settings.heading,
    subheading: section.settings.subheading,
    force_layout: true,
    spaced: true,
    button_label: section.settings.section_button_label,
    button_link: section.settings.collection.url
%}


{% schema %}
{
    "name": "Featured collection",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "t:g.common.label.heading",
            "default": "Featured collection"
        },
        {
            "type": "text",
            "id": "subheading",
            "label": "Subheading"
        },
        {
            "type": "select",
            "id": "section_layout",
            "label": "t:g.section.layout.label",
            "options": [
                {
                    "value": "container",
                    "label": "Container"
                },
                {
                    "value": "full",
                    "label": "Full width"
                }
            ],
            "default": "full"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
        },
        {
            "type": "range",
            "id": "items_per_view",
            "label": "Products per row",
            "min": 3,
            "max": 6,
            "step": 1,
            "default": 4
        },
        {
            "type": "checkbox",
            "id": "enable_loop",
            "label": "Loop carousel",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "enable_pagination",
            "label": "Show carousel pagination"
        },
        {
            "type": "header",
            "content": "t:g.section.button.header"
        },
        {
            "type": "text",
            "id": "section_button_label",
            "label": "t:g.section.button.label"
        }
    ],
    "blocks": [
        {
            "name": "Products",
            "type": "products",
            "limit": 1,
            "settings": [
                {
                    "type": "range",
                    "id": "products_limit",
                    "label": "Maximum products",
                    "min": 5,
                    "max": 20,
                    "step": 1,
                    "default": 7
                },
                {
                    "type": "checkbox",
                    "id": "show_only_products_in_stock",
                    "label": "Show only products in stock",
                    "default": false
                }
            ]
        },
        {
            "name": "Ending banner",
            "type": "banner",
            "limit": 1,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:g.media.image"
                },
                {
                    "type": "range",
                    "id": "image_overlay",
                    "label": "Overlay opacity",
                    "min": 0,
                    "step": 5,
                    "max": 90,
                    "unit": "%",
                    "default": 0
                },
                {
                    "type": "checkbox",
                    "id": "show_image_frame",
                    "label": "Show image frame",
                    "default": true
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "t:g.common.label.heading",
                    "default": "{{ section.settings.collection.title }}"
                },
                {
                    "type": "text",
                    "id": "subheading",
                    "label": "Subheading",
                    "default": "Shop All"
                },
                {
                    "type": "select",
                    "id": "subheading_position",
                    "label": "Subheading position",
                    "options": [
                        {
                            "value": "before",
                            "label": "Before heading"
                        },
                        {
                            "value": "after",
                            "label": "After heading"
                        }
                    ],
                    "default": "before"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Featured collection",
            "blocks": [
                {
                    "type": "products"
                },
                {
                    "type": "banner"
                }
            ]
        }
    ],
    "templates": [
        "article",
        "blog",
        "cart",
        "collection",
        "list-collections",
        "gift_card",
        "index",
        "page",
        "search",
        "product"
    ]
}
{% endschema %}