{%- liquid
    assign columns = section.settings.columns
    assign mobile_columns = 2     
-%}

{% render 'load-css', file: 'logo-card' %}

{%- capture logo_image_srcsize_desktop -%}(min(100vw, {{ settings.container_width }}px) - min(3rem, 5vw))/{{ columns }}{%- endcapture -%}
{%- capture logo_image_srcsize_mobile -%}90vw/{{ mobile_columns }}{%- endcapture -%}

{%- capture Content -%}
    <div class="#grid @type:columns" style="--columns:{{ columns }}; --columns-mobile: {{ mobile_columns }};">
        {%- for block in section.blocks -%}
            {% render 'logo-card',
                image: block.settings.image,
                image_srcsize_desktop: logo_image_srcsize_desktop,
                image_srcsize_mobile: logo_image_srcsize_mobile,
                link: block.settings.link,
                height: section.settings.logo_height,
                grayscale_hover: section.settings.enable_grayscale_hover
            %}
        {%- endfor -%}
    </div>
{%- endcapture -%}

{% render 'section-body',
    content: Content,
    heading: section.settings.heading,
    subheading: section.settings.subheading,
    spaced: true,
    container: true,
    button_label: section.settings.section_button_label,
    button_link: section.settings.section_button_url
%}

{% schema %}
{
    "name": "Logo list",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "t:g.common.label.heading",
            "default": "Our Brands"
        },
        {
            "type": "text",
            "id": "subheading",
            "label": "Subheading"
        },
        {
            "type": "range",
            "id": "columns",
            "label": "Columns",
            "min": 3,
            "max": 6,
            "step": 1,
            "default": 5
        },
        {
            "type": "range",
            "id": "logo_height",
            "label": "Logo max height",
            "min": 70,
            "max": 200,
            "step": 5,
            "unit": "px",
            "default": 120
        },
        {
            "type": "checkbox",
            "id": "enable_grayscale_hover",
            "label": "Enable grayscale hover effect on desktop",
            "default": true
        },
        {
            "type": "header",
            "content": "t:g.section.button.header"
        },
        {
            "type": "text",
            "id": "section_button_label",
            "label": "t:g.section.button.label"
        },
        {
            "type": "url",
            "id": "section_button_url",
            "label": "t:g.section.button.link"
        }
    ],
    "blocks": [
        {
            "type": "logo",
            "name": "Logo",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:g.media.image"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "t:g.common.label.link"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Logo list",
            "blocks": [
                {
                    "type": "logo"
                },
                {
                    "type": "logo"
                },
                {
                    "type": "logo"
                },
                {
                    "type": "logo"
                },
                {
                    "type": "logo"
                },
                {
                    "type": "logo"
                },
                {
                    "type": "logo"
                },
                {
                    "type": "logo"
                },
                {
                    "type": "logo"
                },
                {
                    "type": "logo"
                }
            ]
        }
    ]
}
{% endschema %}