{%- liquid
    assign NS = 'slideshow-hero'
    assign cn = '#' | append: NS
    if section.settings.section_layout
        assign section_spaced = true
        assign section_curved = true
    endif

    assign video_slides = section.blocks | where: 'type', 'video_slide' | first
    assign mobile_position = section.settings.mobile_caption_display

-%}

{% render 'load-css', file: 'swiper' %}
{% render 'load-css', file: NS %}


{%- capture Content -%}
    <{{ NS }}
        {% if video_slides %}
            has-video
        {% endif %}
        class="{{ cn }} @nav:{{ section.settings.navigation }} {% if mobile_position == 'offset' %}@mobile-offset{% endif %}"
        navigation="{{ section.settings.navigation }}"
        {% if section.settings.enable_autoplay %}    
            autoplay="{{ section.settings.autoplay | times: 1000 }}"
        {% endif %}
        {% if section.settings.image_size == 'origin' or section.settings.mobile_image_size == 'origin' or mobile_position == 'offset' %}auto-height{% endif %}
    >
        <div data-swiper class="swiper">
            <div class="swiper-wrapper">
                {%- for slide in section.blocks -%}
                    {%- capture placeholder_index -%}{%- cycle 1, 2 -%}{%- endcapture -%}
                    {% liquid 
                        assign position = slide.settings.text_position | split: '-'
                        assign text_y = position[0]
                        assign text_x = position[1]
                        
                        assign use_box = slide.settings.use_box

                        if slide.settings.f_button_label == blank and slide.settings.s_button_label == blank
                            assign stretched_link = true
                        endif
                    %}

                    {%- if mobile_position == 'offset' and use_box == false -%}
                        {%- assign mobile_box = true -%}
                    {%- endif -%}
                    
                    {%- capture Caption -%}
                        {%- if use_box -%}
                            {%- assign text_color = settings.color_text -%}
                            {%- assign bg_color = settings.color_foreground -%}
                        {%- else -%}
                            {%- assign text_color = settings.color_foreground -%}
                        {%- endif -%}
                        {%- capture Hero -%}
                            {% render 'hero',
                                align: text_x,
                                box: use_box,
                                mobile_box: mobile_box,
                                size: section.settings.text_size,
                                text_color: text_color,
                                bg_color: bg_color,
                                heading: slide.settings.heading,
                                subheading: slide.settings.subheading,
                                subheading_position: section.settings.subheading_position,
                                text: slide.settings.text,
                                f_button_label: slide.settings.f_button_label,
                                f_button_link: slide.settings.f_button_link,
                                f_button_style: slide.settings.f_button_style,
                                f_button_custom_colors: slide.settings.f_button_custom_colors,
                                f_button_bg_color: slide.settings.f_button_bg_color,
                                f_button_text_color: slide.settings.f_button_text_color,
                                s_button_label: slide.settings.s_button_label,
                                s_button_link: slide.settings.s_button_link,
                                s_button_style: slide.settings.s_button_style,
                                s_button_custom_colors: slide.settings.s_button_custom_colors,
                                s_button_bg_color: slide.settings.s_button_bg_color,
                                s_button_text_color: slide.settings.s_button_text_color,
                                hide_mobile_buttons: section.settings.mobile_hidden,
                                width: slide.settings.width,
                                icon: slide.settings.icon,
                                gap_size: 'h3',
                                accent: slide.settings.use_header_accent
                            %}
                        {%- endcapture -%}

                        {% render 'floating-content',
                            content: Hero,
                            x: text_x,
                            y: text_y,
                            mobile_position: mobile_position,
                            absolute: true,
                            container: true,
                            padded: true
                        %}
                        
                        {%- if slide.settings.f_button_link != blank -%}                        
                            {%- if stretched_link -%}
                                <a class="stretched-link" href="{{ slide.settings.f_button_link }}"></a>
                            {%- elsif section.settings.mobile_hidden -%}
                                <a class="stretched-link desktop-hidden" href="{{ slide.settings.f_button_link }}"></a>
                            {%- endif -%}
                        {%- endif -%}
                    {%- endcapture -%}

                    {%- if slide.type == "video_slide" -%}
                        {%- capture Background_video -%}
                            {%- render 'background-video',
                                video: slide.settings.video,
                                manual_init: true,
                                display_desktop_only: slide.settings.display_desktop_only
                            -%}
                        {%- endcapture -%}
                    {%- endif -%}

                    <div 
                        class="swiper-slide" 
                        {% if slide.type == 'video_slide' %}data-video-slide{% endif %} 
                        {% if request.design_mode %}data-slide-number="{{ forloop.index }}"{% endif %} 
                        {{ slide.shopify_attributes }}
                    >
                        {% render 'media',
                            image: slide.settings.image,
                            image_mobile: slide.settings.mobile_image,
                            size: section.settings.image_size,
                            size_mobile: section.settings.mobile_image_size, 
                            placeholder: 'lifestyle',
                            placeholder_index: placeholder_index,
                            overlay: slide.settings.overlay,
                            content: Background_video
                        %}
                           {{ Caption }}
                    </div>
                {%- endfor -%}
            </div>
            {%- if section.settings.navigation == 'pagination' -%}
                <div class="swiper-pagination"></div>
            {%- endif -%}
            {%- if section.settings.navigation == 'arrows' -%}
                <div class="{{ cn }}-nav">
                    <div class="#container">
                        <div class="{{ cn }}-nav-inner">
                            <div class="{{ cn }}-nav-item @dir:prev" data-prev>
                                {% render 'icon', name: 'arrow-left' %}
                            </div>
                            <div class="{{ cn }}-nav-item @dir:next" data-next>
                                {% render 'icon', name: 'arrow-right' %}
                            </div>
                        </div>
                    </div>
                </div>
            {%- endif -%}
        </div>
    </{{ NS }}>
{%- endcapture -%}

{% render 'section-body',
    content: Content,
    container: section.settings.section_layout,
    spaced: section_spaced,
    curved: section_curved
%}

<script type="module" src="{{  NS | append: '.js' | asset_url }}"></script>


{%- if request.design_mode -%}
    <script type="module">
        class EditorSlideshow extends window.Editor {
            events = {
                block: {
                    select: this._onSlideBlockSelect
                }
            }

            _onSlideBlockSelect(e) {
                const slideNumber = e.target.dataset.slideNumber;
                setTimeout(() => {
                    e.target.closest('slideshow-hero').$swiper.swiper.slideTo(slideNumber, 0);
                }, 50)
            }
        }
        const slideshowEditorUX = new EditorSlideshow('{{ section.id }}');
        slideshowEditorUX.render();
    </script>
{%- endif -%}

{% schema %}
{
    "name": "Slideshow",
    "settings": [
        {
            "type": "select",
            "id": "section_layout",
            "label": "t:g.section.layout.label",
            "options": [
                {
                    "value": "container",
                    "label": "Container"
                },
                {
                    "value": "full",
                    "label": "Full width"
                }
            ],
            "default": "full"
        },
        {
            "type": "select",
            "id": "image_size",
            "label": "t:g.media.image_size.label",
            "options": [
                {
                    "value": "16x9",
                    "label": "t:g.media.image_size.options.widescreen"
                },
                {
                    "value": "21x9",
                    "label": "t:g.media.image_size.options.ultrawide"
                },
                {
                    "value": "full",
                    "label": "t:g.media.image_size.options.full"
                },
                {
                    "value": "xl",
                    "label": "t:g.media.image_size.options.xl"
                },
                {
                    "value": "lg",
                    "label": "t:g.media.image_size.options.lg"
                },
                {
                    "value": "md",
                    "label": "t:g.media.image_size.options.md"
                },
                {
                    "value": "sm",
                    "label": "t:g.media.image_size.options.sm"
                },
                {
                    "value": "origin",
                    "label": "t:g.media.image_size.options.origin"
                }
            ],
            "default": "21x9"
        },
        {
            "type": "select",
            "id": "mobile_image_size",
            "label": "t:g.media.image_size.mobile_label",
            "options": [
                {
                    "value": "9x16",
                    "label": "t:g.media.image_size.options.instagram"
                },
                {
                    "value": "4x5",
                    "label": "t:g.media.image_size.options.facebook"
                },
                {
                    "value": "full",
                    "label": "t:g.media.image_size.options.full"
                },
                {
                    "value": "xl",
                    "label": "t:g.media.image_size.options.xl"
                },
                {
                    "value": "lg",
                    "label": "t:g.media.image_size.options.lg"
                },
                {
                    "value": "md",
                    "label": "t:g.media.image_size.options.md"
                },
                {
                    "value": "sm",
                    "label": "t:g.media.image_size.options.sm"
                },
                {
                    "value": "origin",
                    "label": "t:g.media.image_size.options.origin"
                }
            ],
            "default": "9x16"
        },
        {
            "type": "select",
            "id": "text_size",
            "label": "t:g.hero.caption.text_size",
            "options": [
                {
                    "value": "sm",
                    "label": "t:g.common.sizes.sm"
                },
                {
                    "value": "md",
                    "label": "t:g.common.sizes.md"
                },
                {
                    "value": "lg",
                    "label": "t:g.common.sizes.lg"
                },
                {
                    "value": "xl",
                    "label": "t:g.common.sizes.xl"
                }
            ],
            "default": "md"
        },
        {
            "type": "select",
            "id": "subheading_position",
            "label": "t:g.hero.subheading_position.label",
            "options": [
                {
                    "value": "before",
                    "label": "t:g.hero.subheading_position.options.before"
                },
                {
                    "value": "after",
                    "label": "t:g.hero.subheading_position.options.after"
                }
            ],
            "default": "before"
        },
        {
            "type": "select",
            "id": "mobile_caption_display",
            "label": "Mobile caption display",
            "options": [
                {
                    "value": "desktop",
                    "label": "Same as desktop"
                },
                {
                    "value": "bottom",
                    "label": "Bottom"
                },
                {
                    "value": "offset",
                    "label": "Offset"
                }
            ],
            "default": "offset"
        },
        {
            "type": "select",
            "id": "navigation",
            "label": "Navigation style",
            "options": [
                {
                    "value": "pagination",
                    "label": "Dots"
                },
                {
                    "value": "arrows",
                    "label": "Arrows"
                },
                {
                    "value": "none",
                    "label": "None"
                }
            ],
            "default": "pagination"
        },
        {
            "type": "checkbox",
            "id": "enable_autoplay",
            "label": "Enable autoplay",
            "default": true
        },
        {
            "type": "range",
            "id": "autoplay",
            "label": "Change slides every",
            "min": 4,
            "max": 10,
            "step": 1,
            "unit": "s",
            "default": 5
        },
        {
            "type": "header",
            "content": "t:g.hero.buttons.name" 
        },
        {
            "type": "paragraph",
            "content": "t:g.hero.buttons.area_link_note"
        },
        {
            "type": "checkbox",
            "id": "mobile_hidden",
            "label": "t:g.hero.buttons.mobile_hidden.label",
            "info": "t:g.hero.buttons.mobile_hidden.info"
        }
    ],
    "blocks": [
        {
            "type": "slide",
            "name": "Slide",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:g.media.image"
                },
                {
                    "type": "image_picker",
                    "id": "mobile_image",
                    "label": "t:g.media.mobile_image",
                    "info": "t:g.common.optional"
                },
                {
                    "type": "range",
                    "id": "overlay",
                    "label": "Image overlay",
                    "min": 0,
                    "max": 90,
                    "unit": "%",
                    "step": 1,
                    "default": 0
                },
                {
                    "type": "header",
                    "content": "t:g.common.caption" 
                },
                {
                    "type": "text",
                    "id": "icon",
                    "label": "t:g.common.icon.label",
                    "info": "t:g.dynamic_icon.info"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "t:g.common.label.heading",
                    "default": "Slider heading"
                },

                {
                    "type": "checkbox",
                    "id": "use_header_accent",
                    "label": "Show heading accent",
                    "default": true
                },
                {
                    "type": "text",
                    "id": "subheading",
                    "label": "Subheading",
                    "default": "Subheading"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text",
                    "default": "<p>Give customers details about the banner image(s) or content on the template.</p>"
                },
                {
                    "type": "select",
                    "id": "text_position",
                    "label": "Alignment",
                    "options": [
                        {
                            "value": "top-left",
                            "label": "Top left"
                        },
                        {
                            "value": "top-center",
                            "label": "Top center"
                        },
                        {
                            "value": "top-right",
                            "label": "Top right"
                        },
                        {
                            "value": "center-left",
                            "label": "Center left"
                        },
                        {
                            "value": "center-center",
                            "label": "Center"
                        },
                        {
                            "value": "center-right",
                            "label": "Center right"
                        },
                        {
                            "value": "bottom-left",
                            "label": "Bottom left"
                        },
                        {
                            "value": "bottom-center",
                            "label": "Bottom center"
                        },
                        {
                            "value": "bottom-right",
                            "label": "Bottom right"
                        }
                    ],
                    "default": "center-center"
                },
                {
                    "type": "checkbox",
                    "id": "use_box",
                    "label": "t:g.hero.use_box",
                    "default": true
                },
                {
                    "type": "range",
                    "id": "width",
                    "min": 10,
                    "max": 100,
                    "step": 5,
                    "unit": "%",
                    "label": "t:g.hero.caption.width",
                    "default": 40
                },
                {
                    "type": "header",
                    "content": "t:g.hero.buttons.first.header" 
                },
                {
                    "type": "text",
                    "id": "f_button_label",
                    "label": "t:g.hero.buttons.first.label"
                },
                {
                    "type": "url",
                    "id": "f_button_link",
                    "label": "t:g.hero.buttons.first.link"
                },
                {
                    "type": "select",
                    "id": "f_button_style",
                    "label": "t:g.hero.buttons.first.style",
                    "options": [
                        {
                            "value": "normal",
                            "label": "t:g.common.button_styles.normal"
                        },
                        {
                            "value": "outline",
                            "label": "t:g.common.button_styles.outline"
                        },
                        {
                            "value": "link",
                            "label": "t:g.common.button_styles.link"
                        }
                    ],
                    "default": "normal"
                },
                {
                    "type": "checkbox",
                    "id": "f_button_custom_colors",
                    "label": "t:g.hero.buttons.first.custom_colors"
                },
                {
                    "type": "color",
                    "id": "f_button_bg_color",
                    "label": "t:g.common.custom_colors.bg",
                    "default": "#000000"
                },
                {
                    "type": "color",
                    "id": "f_button_text_color",
                    "label": "t:g.common.custom_colors.text",
                    "default": "#ffffff"
                },
                {
                    "type": "header",
                    "content": "t:g.hero.buttons.second.header" 
                },
                {
                    "type": "text",
                    "id": "s_button_label",
                    "label": "t:g.hero.buttons.second.label"
                },
                {
                    "type": "url",
                    "id": "s_button_link",
                    "label": "t:g.hero.buttons.second.link"
                },
                {
                    "type": "select",
                    "id": "s_button_style",
                    "label": "t:g.hero.buttons.second.style",
                    "options": [
                        {
                            "value": "normal",
                            "label": "t:g.common.button_styles.normal"
                        },
                        {
                            "value": "outline",
                            "label": "t:g.common.button_styles.outline"
                        },
                        {
                            "value": "link",
                            "label": "t:g.common.button_styles.link"
                        }
                    ],
                    "default": "normal"
                },
                {
                    "type": "checkbox",
                    "id": "s_button_custom_colors",
                    "label": "t:g.hero.buttons.second.custom_colors"
                },
                {
                    "type": "color",
                    "id": "s_button_bg_color",
                    "label": "t:g.common.custom_colors.bg",
                    "default": "#000000"
                },
                {
                    "type": "color",
                    "id": "s_button_text_color",
                    "label": "t:g.common.custom_colors.text",
                    "default": "#ffffff"
                }
            ]
        },
        {
            "type": "video_slide",
            "name": "Video slide",
            "settings": [
                {
                    "type": "video_url",
                    "id": "video",
                    "accept": ["vimeo", "youtube"],
                    "label": "t:g.media.video.url",
                    "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "t:g.media.image"
                },
                {
                    "type": "image_picker",
                    "id": "mobile_image",
                    "label": "t:g.media.mobile_image",
                    "info": "t:g.common.optional"
                },
                {
                    "type": "checkbox",
                    "id": "display_desktop_only",
                    "label": "Display image instead of the video on the mobile devices",
                    "default": false
                },
                {
                    "type": "range",
                    "id": "overlay",
                    "label": "Image overlay",
                    "min": 0,
                    "max": 90,
                    "unit": "%",
                    "step": 1,
                    "default": 0
                },
                {
                    "type": "header",
                    "content": "t:g.common.caption" 
                },
                {
                    "type": "text",
                    "id": "icon",
                    "label": "t:g.common.icon.label",
                    "info": "t:g.dynamic_icon.info"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "t:g.common.label.heading",
                    "default": "Slider heading"
                },

                {
                    "type": "checkbox",
                    "id": "use_header_accent",
                    "label": "Show heading accent",
                    "default": true
                },
                {
                    "type": "text",
                    "id": "subheading",
                    "label": "Subheading",
                    "default": "Subheading"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text",
                    "default": "<p>Give customers details about the banner image(s) or content on the template.</p>"
                },
                {
                    "type": "select",
                    "id": "text_position",
                    "label": "Alignment",
                    "options": [
                        {
                            "value": "top-left",
                            "label": "Top left"
                        },
                        {
                            "value": "top-center",
                            "label": "Top center"
                        },
                        {
                            "value": "top-right",
                            "label": "Top right"
                        },
                        {
                            "value": "center-left",
                            "label": "Center left"
                        },
                        {
                            "value": "center-center",
                            "label": "Center"
                        },
                        {
                            "value": "center-right",
                            "label": "Center right"
                        },
                        {
                            "value": "bottom-left",
                            "label": "Bottom left"
                        },
                        {
                            "value": "bottom-center",
                            "label": "Bottom center"
                        },
                        {
                            "value": "bottom-right",
                            "label": "Bottom right"
                        }
                    ],
                    "default": "center-center"
                },
                {
                    "type": "checkbox",
                    "id": "use_box",
                    "label": "t:g.hero.use_box",
                    "default": true
                },
                {
                    "type": "range",
                    "id": "width",
                    "min": 10,
                    "max": 100,
                    "step": 5,
                    "unit": "%",
                    "label": "t:g.hero.caption.width",
                    "default": 40
                },
                {
                    "type": "header",
                    "content": "t:g.hero.buttons.first.header" 
                },
                {
                    "type": "text",
                    "id": "f_button_label",
                    "label": "t:g.hero.buttons.first.label"
                },
                {
                    "type": "url",
                    "id": "f_button_link",
                    "label": "t:g.hero.buttons.first.link"
                },
                {
                    "type": "select",
                    "id": "f_button_style",
                    "label": "t:g.hero.buttons.first.style",
                    "options": [
                        {
                            "value": "normal",
                            "label": "t:g.common.button_styles.normal"
                        },
                        {
                            "value": "outline",
                            "label": "t:g.common.button_styles.outline"
                        },
                        {
                            "value": "link",
                            "label": "t:g.common.button_styles.link"
                        }
                    ],
                    "default": "normal"
                },
                {
                    "type": "checkbox",
                    "id": "f_button_custom_colors",
                    "label": "t:g.hero.buttons.first.custom_colors"
                },
                {
                    "type": "color",
                    "id": "f_button_bg_color",
                    "label": "t:g.common.custom_colors.bg",
                    "default": "#000000"
                },
                {
                    "type": "color",
                    "id": "f_button_text_color",
                    "label": "t:g.common.custom_colors.text",
                    "default": "#ffffff"
                },
                {
                    "type": "header",
                    "content": "t:g.hero.buttons.second.header" 
                },
                {
                    "type": "text",
                    "id": "s_button_label",
                    "label": "t:g.hero.buttons.second.label"
                },
                {
                    "type": "url",
                    "id": "s_button_link",
                    "label": "t:g.hero.buttons.second.link"
                },
                {
                    "type": "select",
                    "id": "s_button_style",
                    "label": "t:g.hero.buttons.second.style",
                    "options": [
                        {
                            "value": "normal",
                            "label": "t:g.common.button_styles.normal"
                        },
                        {
                            "value": "outline",
                            "label": "t:g.common.button_styles.outline"
                        },
                        {
                            "value": "link",
                            "label": "t:g.common.button_styles.link"
                        }
                    ],
                    "default": "normal"
                },
                {
                    "type": "checkbox",
                    "id": "s_button_custom_colors",
                    "label": "t:g.hero.buttons.second.custom_colors"
                },
                {
                    "type": "color",
                    "id": "s_button_bg_color",
                    "label": "t:g.common.custom_colors.bg",
                    "default": "#000000"
                },
                {
                    "type": "color",
                    "id": "s_button_text_color",
                    "label": "t:g.common.custom_colors.text",
                    "default": "#ffffff"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Slideshow",
            "blocks": [
                {
                    "type": "slide",
                    "settings": {
                        "f_button_label": "Shop now"
                    }
                },
                {
                    "type": "slide",
                    "settings": {
                        "f_button_label": "Shop now"
                    }
                },
                {
                    "type": "slide",
                    "settings": {
                        "f_button_label": "Shop now"
                    }
                }
            ]
        }
    ]
}
{% endschema %}