{%- liquid
    assign NS = 'password-header'
    assign cn = '#' | append: NS
    assign modal_id = NS | append: '-loginModal-' | append: section.id    
-%}

{% render 'load-css', file: NS %}

{%- capture Logo -%}
    <div class="{{ cn }}-logo">
        {%- if section.settings.logo != blank -%}
            {%- assign desktop_size = section.settings.logo_desktop_width | append: 'x' -%}
            {%- assign mobile_size = section.settings.logo_mobile_width | append: 'x' -%}
            <picture 
                class="{{ cn }}-logo-img"
                style="--desktop-width: {{ section.settings.logo_desktop_width }}px; --mobile-width: {{ section.settings.logo_mobile_width }}px;"
            >   
                <source srcset="{{ section.settings.logo | img_url: desktop_size }}, {{ section.settings.logo | img_url: desktop_size, scale: 2 }} 2x" media="(min-width: 992px)">
                <source srcset="{{ section.settings.logo | img_url: mobile_size }}, {{ section.settings.logo | img_url: mobile_size, scale: 2 }} 2x" media="(max-width: 992px)">
                <img src="{{ section.settings.logo | img_url }}" alt="{{ shop.name }}">
            </picture>
        {%- else -%}
            <h1 class="{{ cn }}-logo-heading">{{ shop.name }}</h1>
        {%- endif -%}
    </div>
{%- endcapture -%}


{%- capture Login_link -%}
    <modal-trigger 
        class="{{ cn }}-login-link" 
        target="#{{ modal_id }}"
    >
        {% render 'icon', name: 'lock' %}
        <span class="mobile-hidden">
            {{ 'general.password_page.login_password_button' | t }}
        </span>
    </modal-trigger>
{%- endcapture -%}

{%- capture Login_modal -%}
    <template id="{{ modal_id }}">
        <div class="{{ cn }}-login-modal">
            <h2 class="{{ cn }}-login-modal-heading fs-h3">
                {{ 'general.password_page.login_form_heading' | t }}
            </h2>
            {%- form 'storefront_password' -%}
                {%- if form.errors -%}
                    {% render 'alert',
                        type: 'danger',
                        t_heading: 'general.password_page.login_form_error'
                    %}
                {%- endif -%}
                {%- capture Password_atts -%}
                    type="password"
                    name="password"
                    autocomplete="current-password"
                    {% if form.errors %}
                        aria-invalid="true"
                        aria-describedby="PasswordLoginForm-password-error"
                    {%- endif -%}
                    placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                {%- endcapture -%}
                {% render 'form-field',
                    id: 'LoginPassword',
                    as: 'input',
                    input_atts: Password_atts
                %}
                {% render 'button',
                    t_text: 'general.password_page.login_form_submit',
                    name: 'commit',
                    type: 'submit',
                    block: true
                %}
            {%- endform -%}
        </div>
    </template>
{%- endcapture -%}

{%- capture Password_msg -%}
    {%- unless shop.password_message == blank -%}
        <div class="{{ cn }}-msg">{{ shop.password_message }}</div>
    {%- endunless -%}
{%- endcapture -%}

<div class="{{ cn }}" data-password-header style="--text-color: {{ settings.color_header_primary_text }}; --bg-color: {{ settings.color_header_primary_bg }};">
    <div class="#container">
        <div class="{{ cn }}-inner">
            {{ Logo }}
            {{ Password_msg }}
            {{ Login_link }}
        </div>
    </div>
    {{ Login_modal }}
</div>

{% javascript %}
    const pwdHeader = document.querySelector('[data-password-header]');
    document.documentElement.style.setProperty('--password-header-height', `${pwdHeader.offsetHeight}px`);
{% endjavascript %}

{% comment %}

{%- liquid
    assign NS = 'password-header'
    assign cn = '#' | append: NS 
    
    assign modal_id = 'login-modal-' | append: section.id
-%}

<!-- {% render 'load-css', file: NS, lazy: true %} -->

{%- capture Logo -%}
    <div>
        <a href="{{ routes.root_url }}"></a>
        {%- if section.settings.logo != blank -%}
            <picture>   
                <source srcset="{{ section.settings.logo | img_url: desktop_size }}, {{ section.settings.logo | img_url: desktop_size, scale: 2 }} 2x" media="(min-width: 992px)">
                <source srcset="{{ section.settings.logo | img_url: mobile_size }}, {{ section.settings.logo | img_url: mobile_size, scale: 2 }} 2x" media="(max-width: 992px)">
                <img src="{{ section.settings.logo | img_url }}" alt="{{ shop.name }}">
            </picture>
        {%- else -%}
            <h1>{{ shop.name }}</h1>
        {%- endif -%}
    </div>
{%- endcapture -%}

<div id="{{ header_id }}" style="
    --p-text-color: {{ settings.color_header_primary_text }};
    --p-bg-color: {{ settings.color_header_primary_bg }};
">
    {{ Logo }}
    {% unless shop.password_message == blank %}
        <div>{{ shop.password_message }}</div>
    {% endunless %}
    <modal-trigger target="#{{ modal_id }}">
        <div>
                {% render 'icon', name: 'key', load: true %}
        </div>
        <div>
            {{ 'general.password_page.login_password_button' | t }}
        </div>
    </modal-trigger>
            
</div>

<template id="{{ modal_id }}">
    <div style="background-color: #ffffff">
    <h2 id="DialogHeading">{{ 'general.password_page.login_form_heading' | t }}</h2>
    {%- assign form_class = cn | append: '-modal-form' -%}
    {%- form 'storefront_password', class: form_class -%}
        {% if form.errors %}
            <div>
                {% render 'icon', name: 'alert' %}
                <div>
                    <h4>
                        <span>{{ 'accessibility.error' | t }} </span>
                        {{ 'general.password_page.login_form_error' | t }}
                    </h4>
                </div>
            </div> 
        {% endif %}
        <div>
            <label for="Password">{{ 'general.password_page.login_form_password_placeholder' | t }}</label>
            <input
                type="password"
                name="password"
                id="Password"
                autocomplete="current-password"
                {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="PasswordLoginForm-password-error"
                {%- endif -%}
                placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
            >
        </div>

        <div>
        {% render 'button',
            t_text: 'general.password_page.login_form_submit',
            name: 'commit'
        %}
        </div>
    {%- endform -%}
    <div>{{ 'general.password_page.admin_link_html' | t }}</div>
    </div>
</template>

{% endcomment %}

{% schema %}
{
  "name": "t:sections.main-password-header.name",
  "settings": [
    {
        "type": "header",
        "content": "Logo"
    },
    {
        "type": "image_picker",
        "id": "logo",
        "label": "t:g.media.image"
    },
    {
        "type": "range",
        "id": "logo_desktop_width",
        "label": "Desktop image width",
        "min": 100,
        "max": 300,
        "step": 5,
        "unit": "px",
        "default": 130
    },
    {
        "type": "range",
        "id": "logo_mobile_width",
        "label": "Mobile image width",
        "min": 50,
        "max": 200,
        "step": 5,
        "unit": "px",
        "default": 100
    }
  ]
}
{% endschema %}
