{%- liquid
    assign NS = 'article'
    assign cn = '#' | append: NS
    if section.blocks[0].type == 'featured_image'
        assign image_first = true
    endif   
-%}
{% render 'load-css', file: NS %}

{%- capture Content -%}
    <div class="{{ cn }} {% if image_first %}@image-first{% endif %}">
        {%- for block in section.blocks -%}
            {%- capture Block_content -%}
                {%- case block.type -%}
                    {%- when 'featured_image' -%}
                        {% render 'media',
                            aspect_ratio: '21x9',
                            image: article.image,
                            size: block.settings.image_size
                        %}
                    {%- when 'title' -%}
                        <div class="{{ cn }}-header {% if block.settings.show_border %}@border{% endif %}">
                            {% render 'breadcrumbs' %}    
                            {%- if block.settings.show_tags and article.tags.size > 0 -%}
                                <div class="{{ cn }}-header-tags">
                                    {%- for tag in article.tags -%}
                                        <div class="{{ cn }}-header-tags-item">{{ tag }}</div>
                                    {%- endfor -%}
                                </div>
                            {%- endif -%}
                            <h1 class="{{ cn }}-header-title heading-font fs-{{ block.settings.title_size }}">{{ article.title }}</h1>
                            {%- if block.settings.show_author or block.settings.show_date or block.settings.show_share -%}
                                <div class="{{ cn }}-header-meta">
                                    {%- if block.settings.show_author -%}
                                        <div class="{{ cn }}-header-meta-item">
                                            {%- if block.settings.show_icons -%}
                                                {% render 'icon', name: 'user' %}
                                            {%- endif -%}
                                            {{ 'blogs.article.written_by' | t: author: article.author }}
                                        </div>
                                    {%- endif -%}
                                    {%- if block.settings.show_date -%}
                                        <div class="{{ cn }}-header-meta-item">
                                            {%- if block.settings.show_icons -%}
                                                {% render 'icon', name: 'calendar' %}
                                            {%- endif -%}
                                            {{ article.published_at | date: "%B %e, %Y" }}
                                        </div>
                                    {%- endif -%}
                                    {%- if block.settings.show_share -%}
                                        <div class="{{ cn }}-header-meta-item">
                                            {% render 'share',
                                                share_permalink: article.url,
                                                share_image: article.image,
                                                share_title: article.title
                                            %}
                                        </div>
                                    {%- endif -%}
                                </div>
                            {%- endif -%}
                        </div>
                    {%- when 'content' -%}
                        {%- assign size_unit = block.settings.font_scale | times: 1.0 -%}
                        {%- assign size_unit = size_unit | divided_by: 100 -%}                    
                        <div class="#rte" style="--font-size: {{ size_unit }}rem;">{{ article.content }}</div>
                    {%- when 'comments' -%}
                        {%- if blog.comments_enabled? -%}
                            <div class="{{ cn }}-comments-wrap">
                                <div class="{{ cn }}-comments">
                                    {%- if article.comments_count > 0 -%}
                                        {%- assign anchorId = '#Comments-' | append: article.id -%}
                                        <h2 class="{{ cn }}-comments-title">{{ 'blogs.article.comments' | t: count: article.comments_count }}</h2>
                                        {% paginate article.comments by 5 %}
                                            <div class="{{ cn }}-comments-list">
                                                {%- for comment in article.comments -%}
                                                    <article class="{{ cn }}-comments-comment" id="{{ comment.id }}">
                                                        <span class="{{ cn }}-comments-comment-date">{{ comment.created_at | date: "%b %d, %Y" }}</span>
                                                        <h5 class="{{ cn }}-comments-comment-author">{{ comment.author }}</h5>
                                                        <div class="#rte-block">{{ comment.content }}</div>
                                                    </article>
                                                {%- endfor -%}
                                            </div>
                                            {% render 'pagination', paginate: paginate %}
                                        {% endpaginate %}
                                    {%- endif -%}
                                    {% form 'new_comment', article %}
                                        <h2 class="{{ cn }}-comments-title">{{ 'blogs.article.comment_form_title' | t  }}</h2>
                                        {%- liquid
                                            assign post_message = 'blogs.article.success'
                                            if blog.moderated? and comment.status == 'unapproved'
                                                assign post_message = 'blogs.article.success_moderated'
                                            endif
                                        -%}
                                        {%- if form.errors -%}
                                            {%- capture Alert_body -%}
                                                <ul>
                                                    {%- for field in form.errors -%}
                                                    <li>
                                                        <a href="#CommentForm-{{ field }}" class="link">
                                                        {%- if form.errors.translated_fields[field] contains 'author' -%}
                                                            {{ 'blogs.article.name' | t }}
                                                        {%- elsif form.errors.translated_fields[field] contains 'body'-%}
                                                        {{ 'blogs.article.message' | t }}
                                                        {%- else -%}
                                                            {{ form.errors.translated_fields[field] }}
                                                        {%- endif -%}
                                                        {{ form.errors.messages[field] }}
                                                        </a>
                                                    </li>
                                                    {%- endfor -%}
                                                </ul>
                                            {%- endcapture -%}
                                            <div class="{{ cn }}-comments-msg">
                                                {% render 'alert',
                                                    type: 'danger',
                                                    t_heading: 'templates.contact.form.error_heading',
                                                    text: Alert_body
                                                %}
                                            </div>
                                        {%- elsif form.posted_successfully?  -%}
                                            <div class="{{ cn }}-comments-msg">
                                                {% render 'alert',
                                                    type: 'success',
                                                    t_heading: post_message
                                                %}
                                            </div>
                                        {%- endif -%}
                                        <div class="#grid @type:span" style="--gap: 1rem;">
                                            <div style="--span: 6; --span-mobile: 12;">
                                                {%- capture Name_atts -%}
                                                    type="text"
                                                    name="comment[author]"
                                                    autocomplete="name"
                                                    value="{{ form.author }}"
                                                    aria-required="true"
                                                    required
                                                    {% if form.errors contains 'author' %}
                                                        aria-invalid="true"
                                                        aria-describedby="CommentForm-author-error"
                                                    {% endif %}
                                                    placeholder="{{ 'blogs.article.name' | t }}"
                                                {%- endcapture -%}
                                                {% render 'form-field',
                                                    id: 'CommentForm-author',
                                                    as: 'input',
                                                    input_atts: Name_atts,
                                                    t_label: 'blogs.article.name'
                                                %}
                                            </div>
                                            <div style="--span: 6; --span-mobile: 12;">
                                                {%- capture Email_atts -%}
                                                    type="email"
                                                    name="comment[email]"
                                                    autocomplete="email"
                                                    value="{{ form.email }}"
                                                    autocorrect="off"
                                                    autocapitalize="off"
                                                    aria-required="true"
                                                    required
                                                    {% if form.errors contains 'email' %}
                                                        aria-invalid="true"
                                                        aria-describedby="CommentForm-email-error"
                                                    {% endif %}
                                                    placeholder="{{ 'blogs.article.email' | t }}"
                                                {%- endcapture -%}
                                                {% render 'form-field',
                                                    id: 'CommentForm-email',
                                                    as: 'input',
                                                    input_atts: Email_atts,
                                                    t_label: 'blogs.article.email'
                                                %}
                                            </div>
                                            <div style="--span: 12;">
                                                {%- capture Comment_atts -%}
                                                    rows="5"
                                                    name="comment[body]"
                                                    aria-required="true"
                                                    required
                                                    {% if form.errors contains 'body' %}
                                                        aria-invalid="true"
                                                        aria-describedby="CommentForm-body-error"
                                                    {% endif %}
                                                    placeholder="{{ 'blogs.article.message' | t }}"
                                                {%- endcapture -%}
                                                {% render 'form-field',
                                                    id: 'CommentForm-body',
                                                    as: 'textarea',
                                                    input_atts: Comment_atts,
                                                    t_label: 'blogs.article.message'
                                                %}
                                            </div>
                                        </div>
                                        {%- if blog.moderated? -%}
                                            <p class="{{ cn }}-comments-moderation">{{ 'blogs.article.moderated' | t }}</p>
                                        {%- endif -%}
                                        {% render 'button',
                                            t_text: 'blogs.article.post',
                                            type: 'submit'
                                        %}    
                                    {% endform %}
                                </div>
                            </div>
                        {%- endif -%}
                {%- endcase -%}
            {%- endcapture -%}
            <div class="{{ cn }}-block @type:{{ block.type }}" {{ block.shopify_attributes }}>
                {%- if block.settings.block_full_width == true -%}
                    {%- assign container_width = 'full' -%}
                {%- else -%}
                    {%- assign container_width = section.settings.container_width -%}
                {%- endif -%}
                <div class="#container @width:{{ container_width }}">
                    {{ Block_content }}
                </div>
            </div>
        {%- endfor -%}
    </div>
{%- endcapture -%}

{% render 'section-body',
    content: Content
%}

<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Article",
      "articleBody": {{ article.content | strip_html | json }},
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": {{ shop.url | append: page.url | json }}
      },
      "headline": {{ article.title | json }},
      {% if article.excerpt != blank %}
        "description": {{ article.excerpt | strip_html | json }},
      {% endif %}
      {% if article.image %}
        {% assign image_size = article.image.width | append: 'x' %}
        "image": [
          {{ article | img_url: image_size | prepend: "https:" | json }}
        ],
      {% endif %}
      "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
      "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
      "author": {
        "@type": "Person",
        "name": {{ article.author | json }}
      },
      "publisher": {
        "@type": "Organization",
        {% if settings.share_image %}
          {% assign image_size = settings.share_image.width | append: 'x' %}
          "logo": {
            "@type": "ImageObject",
            "height": {{ settings.share_image.height | json }},
            "url": {{ settings.share_image | img_url: image_size | prepend: "https:" | json }},
            "width": {{ settings.share_image.width | json }}
          },
        {% endif %}
        "name": {{ shop.name | json }}
      }
    }
</script>

{% schema %}
{
    "name": "Article",
    "settings": [
        {
            "type": "select",
            "id": "container_width",
            "label": "t:g.section.layout.label",
            "options": [
                {
                    "value": "default",
                    "label": "t:g.section.layout.options.wide"
                },
                {
                    "value": "narrow",
                    "label": "t:g.section.layout.options.medium"
                },
                {
                    "value": "x-narrow",
                    "label": "t:g.section.layout.options.narrow"
                }
            ],
            "default": "narrow"
        }
    ],
    "blocks": [
        {
            "type": "featured_image",
            "name": "Featured image",
            "limit": 1,
            "settings": [
                {
                    "type": "checkbox",
                    "id": "block_full_width",
                    "label": "Full width",
                    "default": true
                },
                {
                    "type": "select",
                    "id": "image_size",
                    "label": "Image size",
                    "options": [
                        {
                            "value": "sm",
                            "label": "Small (55%)"
                        },
                        {
                            "value": "md",
                            "label": "Medium (70%)"
                        },
                        {
                            "value": "lg",
                            "label": "Large (85%)"
                        },
                        {
                            "value": "widescreen",
                            "label": "Widescreen (16x9)"
                        },
                        {
                            "value": "ultrawide",
                            "label": "Ultrawide (21x9)"
                        },
                        {
                            "value": "full",
                            "label": "Full height"
                        },
                        {
                            "value": "origin",
                            "label": "Original aspect ratio"
                        }
                    ],
                    "default": "ultrawide"
                }
            ]
        },
        {
            "type": "title",
            "name": "Title",
            "limit": 1,
            "settings": [
                {
                    "type": "select",
                    "id": "title_size",
                    "label": "Size",
                    "options": [
                        {
                            "value": "h1",
                            "label": "Small"
                        },
                        {
                            "value": "d4",
                            "label": "Medium"
                        },
                        {
                            "value": "d2",
                            "label": "Large"
                        },
                        {
                            "value": "d0",
                            "label": "Extra large"
                        }
                    ],
                    "default": "d4"
                },
                {
                    "type": "checkbox",
                    "id": "show_author",
                    "label": "Show author",
                    "default": false
                },
                {
                    "type": "checkbox",
                    "id": "show_date",
                    "label": "Show date",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "show_icons",
                    "label": "Show icons",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "show_share",
                    "label": "Show social sharing icons",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "show_border",
                    "label": "Show border"
                },
                {
                    "type": "checkbox",
                    "id": "show_tags",
                    "label": "Show tags",
                    "default": true
                }
            ]
        },
        {
            "type": "content",
            "name": "Content",
            "limit": 1,
            "settings": [
                {
                    "type": "range",
                    "id": "font_scale",
                    "min": 100,
                    "max": 150,
                    "default": 100,
                    "step": 5,
                    "unit": "%",
                    "label": "Font scale"
                }
            ]
        },
        {
            "type": "comments",
            "name": "Comments",
            "limit": 1
        }
    ]
}
{% endschema %}