{%- liquid
    assign NS = 'collection'
    assign cn = '#' | append: NS
    assign form_id = 'collectionFiltersForm' | append: section.id
    assign drawer_form_id = 'collectionFiltersDrawerForm' | append: section.id
    assign product_columns = section.settings.columns
    assign product_columns_mobile = 2
    assign product_per_page = product_columns | times: section.settings.rows
    assign product_gap = '1rem'
    assign with_filters = true
    if section.settings.filters_type == 'none' or collection.filters.size < 1
        assign with_filters = false
    endif
    assign filters_drawer_id = 'collectionFiltersModal-' | append: section.id
    if with_filters
        assign filters_drawer_target = '#' | append: filters_drawer_id
    endif
    
    assign sidebar_width = section.settings.sidebar_width
    assign collapse_filters = section.settings.collapse_filters

    if collection.all_products_count > 0
        assign clear_url = collection.url
        if collection.sort_by != blank
            assign clear_url = clear_url | append: '?sort_by=' | append: collection.sort_by
        endif
        assign splash_msg_heading = 'sections.collection_template.empty'
        assign splash_msg_subheading = 'sections.collection_template.use_fewer_filters'
        assign splash_msg_button_lable = 'products.facets.clear_all'
        assign splash_msg_button_link = clear_url
    else
        assign splash_msg_heading = 'sections.collection_template.empty_collection_message'
        assign splash_msg_subheading = 'general.search.info'
        assign splash_msg_button_lable = 'sections.collection_list.view_all'
        assign splash_msg_button_link = routes.collections_url
    endif
-%}

{%- if with_filters and section.settings.filters_type == 'sidebar' -%}
    {%- capture product_image_srcsize_desktop -%}(min(100vw, {{ settings.container_width }}px) * {{ 100 | minus: sidebar_width | divided_by: 100.0 }})/{{ product_columns }}{%- endcapture -%}
{%- else -%}    
    {%- capture product_image_srcsize_desktop -%}min(100vw, {{ settings.container_width }}px)/{{ product_columns }}{%- endcapture -%}
{%- endif -%}

{%- capture product_image_srcsize_mobile -%}90vw/{{ product_columns_mobile }}{%- endcapture -%}


{% render 'load-css', file: NS %}
{% render 'load-css', file: 'product-card' %}

{%- if with_filters -%}
    {% render 'load-css', file: 'collection-filter' %}
{%- endif -%}


{%- capture Filters -%}
    {%- if with_filters -%}
        {% for filter in collection.filters %}
            {% render 'collection-filter', 
                filter: filter,
                collapse_filters: collapse_filters,
                form: form_id, 
                index: forloop.index,
                hide_out_of_stock_filter: section.settings.hide_out_of_stock_filter
                color_swatches: section.settings.color_swatches
            %}
        {% endfor %}
    {%- endif -%}
{%- endcapture -%}


{%- capture Drawer_filters -%}
    {%- if with_filters -%}
        {% for filter in collection.filters %}
            {% render 'collection-filter', 
                filter: filter,
                collapse_filters: collapse_filters,
                color_swatches: section.settings.color_swatches,
                form: drawer_form_id, 
                index: forloop.index
                hide_out_of_stock_filter: section.settings.hide_out_of_stock_filter
            %}
        {% endfor %}
    {%- endif -%}
{%- endcapture -%}


{%- capture No_products -%}
    {% render 'splash-msg',
        icon: 'box-open',
        t_heading: splash_msg_heading,
        t_subheading: splash_msg_subheading,
        button_t_label: splash_msg_button_lable, 
        button_link: splash_msg_button_link,
        icon_y_offset: '-20px'
    %}
{%- endcapture -%}

{%- capture Toolbar_status -%}
    {%- if collection.products_count == collection.all_products_count -%}
        {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
    {%- else -%}
        {{ 'products.facets.product_count' | t: product_count: collection.products_count, count: collection.all_products_count }}
    {%- endif -%}
{%- endcapture -%}

{%- capture Toolbar -%}
    {% render 'collection-toolbar',
        status: Toolbar_status,
        src: collection,
        sort_form_id: form_id,
        sort_form_drawer_id: drawer_form_id,
        filters_drawer_target: filters_drawer_target,
        filter_type: section.settings.filters_type
    %}
{%- endcapture -%}

{%- capture Active_filters -%}
    {%- if section.settings.show_active_filters and with_filters -%}
        {%- capture Filters_content -%}
            {% render 'collection-active-filters', src: collection %}
        {%- endcapture -%}
        {% if Filters_content != blank %}
            <div class="{{ cn }}-active-filters">
                {{ Filters_content }}
            </div>
        {% endif %}
    {%- endif -%}
{%- endcapture -%}

{%- capture Mobile_filters_button -%}
    {%- if with_filters -%}
        <modal-trigger 
            class="{{ cn }}-mobile-filters-button desktop-hidden" 
            target="#{{ filters_drawer_id }}"
            animation="slideLeft"
            position="center-left"
            height="100%"
            width="min(400px, 100vw - 4rem)"
            close-button
            transition="300"
            >
            {% render 'button',
                t_text: 'products.facets.filter_button',
                block: true,
                size: 'h4'
            %}    
        </modal-trigger>
    {%- endif -%}
{%- endcapture -%}

{%- capture Product_grid -%}
    <div class="{{ cn }}-grid" section-id="{{ section.id }}">
        {% render 'collection-loader' %}
        {%- paginate collection.products by product_per_page -%}
            {%- if collection.products.size == 0 -%}
                {{ No_products }}
            {%- else -%}
                <div class="#grid @type:columns" style="--columns: {{ product_columns }}; --columns-mobile: {{ product_columns_mobile }}; --gap: {{ product_gap }}; --gap-mobile: {{ product_gap }};">
                    {% for product in collection.products %}
                        {% render 'product-card', 
                            product: product,
                            image_srcsize_desktop: product_image_srcsize_desktop,
                            image_srcsize_mobile: product_image_srcsize_mobile
                         %}
                    {% endfor %}
                </div>
                {{ Mobile_filters_button }}
                {%- if paginate.pages > 1 -%}
                    {% render 'collection-pagination', paginate: paginate, anchor: '' %}
                {%- endif -%}
            {%- endif -%}
        {%- endpaginate -%}
    </div>
{%- endcapture -%}

{%- capture Sidebar -%}
    <div class="{{ cn }}-sidebar mobile-hidden">
        {{ Filters }}
    </div>
{%- endcapture -%}

{%- capture Filters_drawer -%}
    {%- if with_filters -%}
        <template id="{{ filters_drawer_id }}">
            <div class="{{ cn }}-filters-drawer">
                <collection-modal-filters section-id="{{ section.id }}" target="{{ filters_drawer_target }}">
                    {{ Drawer_filters }}
                </collection-modal-filters>
            </div>
        </template>
    {%- endif -%}
{%- endcapture -%}



{%- capture Main -%}
    
    {{ Active_filters }}
    {{ Product_grid }}
{%- endcapture -%}


{%- capture Content -%}
    <collection-provider section-id="{{ section.id }}" collection-url="{{ collection.url }}">
        {%- if with_filters -%}
            {%- if section.settings.filters_type == 'sidebar' -%}
                <form id="{{ form_id }}" data-collection-form></form>
            {%- endif -%}
            <form id="{{ drawer_form_id }}" data-collection-drawer-form></form>
        {%- endif -%}
        
        <div class="{{ cn }}-inner">
            {{ Toolbar }}
            <div class="#container">
                <div data-collection-dynamic-block id="Collection-{{ section.id }}-main">
                    {{ Filters_drawer }}
                    {%- if with_filters and section.settings.filters_type == 'sidebar' -%}
                        <div class="#grid @type:template" style="--template: {{ sidebar_width }}% 1fr; --template-mobile: none; --gap: 3rem; --gap-mobile: 0;">
                            <div>
                                {{ Sidebar }}
                            </div>
                            <div>
                                {{ Main }}
                            </div>
                        </div>
                    {%- else -%}
                        {{ Main }}
                    {%- endif -%}
                </div>
            </div>
        </div>
    </collection-provider>
    <script type="module" src="{{ 'collection-provider.js' | asset_url }}"></script>
    {%- if with_filters -%}
        <script type="module" src="{{ 'collection-filter.js' | asset_url }}"></script>
        <script type="module" src="{{ 'collection-filter-price.js' | asset_url }}"></script>
        {%- if section.settings.show_active_filters -%}
            <script type="module" src="{{ 'collection-active-filter.js' | asset_url }}"></script>
        {%- endif -%}
        <script type="module" src="{{ 'collection-modal-filters.js' | asset_url }}"></script>
    {%- endif -%}
{%- endcapture -%}


{% render 'section-body',
    content: Content
%}


{% schema %}
{
    "name": "Collection grid",
    "tag": "section",
    "settings": [
        {
            "type": "range",
            "id": "columns",
            "label": "Desktop columns",
            "min": 2,
            "step": 1,
            "max": 6,
            "default": 4
        },
        {
            "type": "range",
            "id": "rows",
            "label": "Maximum rows",
            "min": 2,
            "step": 1,
            "max": 6,
            "default": 3
        },
        {
            "type": "select",
            "id": "filters_type",
            "label": "Filter display",
            "options": [
                {
                    "value": "drawer",
                    "label": "Drawer"
                },
                {
                    "value": "sidebar",
                    "label": "Sidebar"
                },
                {
                    "value": "none",
                    "label": "None"
                }
            ],
            "default": "sidebar"
        },
        {
            "type": "checkbox",
            "id": "hide_out_of_stock_filter",
            "label": "Hide 'Out of stock' filter",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_active_filters",
            "label": "Show active filters",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "color_swatches",
            "label": "Enable filters color swatches",
            "info": "[Learn more](https://support.milehighthemes.com/article/43-setting-up-color-swatches-as-product-variations)"
        },
        {
            "type": "range",
            "id": "sidebar_width",
            "label": "Sidebar width",
            "min": 10,
            "step": 1,
            "max": 30,
            "unit": "%",
            "default": 20
        },
        {
            "type": "checkbox",
            "id": "collapse_filters",
            "label": "Collapse filters",
            "default": false
        }
    ]
}
{% endschema %}