{%- liquid
  assign NS = 'customer-form'
  assign cn = '#' | append: NS
-%}

{% render 'load-css', file: NS %}

<div class="{{ cn }}">
  <h1 class="{{ cn }}-heading heading-font">
    {{ 'customer.reset_password.title' | t }}
  </h1>
  <p class="fs-h4">
    {{ 'customer.reset_password.subtext' | t: email: email }}
  </p>
  {%- form 'reset_customer_password' -%}
    {%- if form.errors -%}
      <div class="{{ cn }}-alert">
        {%- capture Alert_heading -%}
          <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
          {{ 'templates.contact.form.error_heading' | t }}
        {%- endcapture -%}
        {%- capture Alert_text -%}
          <ul>
            {%- for field in form.errors -%}
              <li>
                {%- if field == 'form' -%}
                  {{ form.errors.messages[field] }}
                {%- else -%}
                  <a href="#{{ field }}">
                    {{ form.errors.translated_fields[field] | capitalize }}
                    {{ form.errors.messages[field] }}
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        {%- endcapture -%}
        {% render 'alert',
          type: 'danger',
          heading: Alert_heading,
          text: Alert_text
        %}
      </div>
    {%- endif -%}

    <div class="{{ cn }}-field">
      <input
        class="{{ cn }}-input"
        type="password"
        name="customer[password]"
        id="password"
        autocomplete="new-password"
        {% if form.errors contains 'password' %}
          aria-invalid="true"
          aria-describedby="password-error"
        {% endif %}
        placeholder="{{ 'customer.reset_password.password' | t }}"
      >
    </div>
    <div class="{{ cn }}-field">
      <input
        class="{{ cn }}-input"
        type="password"
        name="customer[password_confirmation]"
        id="password_confirmation"
        autocomplete="new-password"
        {% if form.errors contains 'password_confirmation' %}
          aria-invalid="true"
          aria-describedby="password_confirmation-error"
        {% endif %}
        placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
      >
    </div>
    <div class="{{ cn }}-footer">
      <button class="{{ cn }}-submit">
        {{ 'customer.reset_password.submit' | t }}
      </button>
    </div>
  {%- endform -%}
</div>

{% schema %}
{
  "name": "Reset password"
}
{% endschema %}