{% render 'page-header',
  t_heading: 'customer.orders.title',
  container: 'narrow'
%}

{%- capture Content -%}
  {% render 'customer-nav',
    active: 'orders'
  %}
  {%- if customer.orders.size > 0 -%}
    {% paginate customer.orders by 20 %}
    {%- capture Table_content -%}
      <caption class="visually-hidden">{{ 'customer.orders.title' | t }}</caption>
      <thead role="rowgroup">
          <tr role="row">
              <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
              <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
              <th id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}</th>
              <th id="ColumnFulfillment" scope="col" role="columnheader">{{ 'customer.orders.fulfillment_status' | t }}</th>
              <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
          </tr>
      </thead>
      <tbody role="rowgroup">
          {%- for order in customer.orders -%}
              <tr role="row">
              <td
                  id="RowOrder"
                  role="cell"
                  headers="ColumnOrder"
                  data-label="{{ 'customer.orders.order_number' | t }}"
              >
                  <a href="{{ order.customer_url }}" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">
                  {{ order.name }}
                  </a>
              </td>
              <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                  {{ order.created_at | time_tag: format: 'date' }}
              </td>
              <td headers="RowOrder ColumnPayment" role="cell" data-label="{{ 'customer.orders.payment_status' | t }}">
                  {{ order.financial_status_label }}
              </td>
              <td headers="RowOrder ColumnFulfillment" role="cell" data-label="{{ 'customer.orders.fulfillment_status' | t }}">
                  {{ order.fulfillment_status_label }}
              </td>
              <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                  {{ order.total_price | money_with_currency }}</td>
              </tr>
          {%- endfor -%}
      </tbody>
    {%- endcapture -%}


    {% render 'customer-table',
      content: Table_content
    %}

    {%- if paginate.pages > 1 -%}
        {% render 'pagination', paginate: paginate, anchor: '' %}
    {%- endif -%}

  {% endpaginate %}

  {%- else -%}
    <svg hidden width="0" height="0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
          <symbol id="svg-icon-customer-no-orders" viewBox="0 0 384 512">
              <title>no orders</title>
              <path d="M13.97 2.196C22.49-1.72 32.5-.3214 39.62 5.778L80 40.39L120.4 5.778C129.4-1.926 142.6-1.926 151.6 5.778L192 40.39L232.4 5.778C241.4-1.926 254.6-1.926 263.6 5.778L304 40.39L344.4 5.778C351.5-.3214 361.5-1.72 370 2.196C378.5 6.113 384 14.63 384 24V488C384 497.4 378.5 505.9 370 509.8C361.5 513.7 351.5 512.3 344.4 506.2L304 471.6L263.6 506.2C254.6 513.9 241.4 513.9 232.4 506.2L192 471.6L151.6 506.2C142.6 513.9 129.4 513.9 120.4 506.2L80 471.6L39.62 506.2C32.5 512.3 22.49 513.7 13.97 509.8C5.456 505.9 0 497.4 0 488V24C0 14.63 5.456 6.112 13.97 2.196V2.196zM96 144C87.16 144 80 151.2 80 160C80 168.8 87.16 176 96 176H288C296.8 176 304 168.8 304 160C304 151.2 296.8 144 288 144H96zM96 368H288C296.8 368 304 360.8 304 352C304 343.2 296.8 336 288 336H96C87.16 336 80 343.2 80 352C80 360.8 87.16 368 96 368zM96 240C87.16 240 80 247.2 80 256C80 264.8 87.16 272 96 272H288C296.8 272 304 264.8 304 256C304 247.2 296.8 240 288 240H96z"/>
          </symbol>
      </defs>       
    </svg>

    {% render 'splash-msg',
        icon: 'customer-no-orders',
        t_heading: 'customer.orders.none'
    %}
  {%- endif -%}
{%- endcapture -%}

{% render 'section-body',
  content: Content,
  spaced: true,
  container: 'narrow'
%}

{% schema %}
{
  "name": "Account"
}
{% endschema %}